fastapi==0.115.12
uvicorn==0.34.3
python-multipart==0.0.20
pydantic==2.11.5
psycopg[binary]==3.2.13
argon2-cffi==25.1.0
httpx==0.28.1
beautifulsoup4==4.13.4
Pillow==11.2.1
PyMuPDF==1.26.0
numpy==2.2.6
opencv-python-headless==4.11.0.86
easyocr==1.7.2
symspellpy==6.9.0
huggingface-hub==0.32.4
transformers==4.52.4
sentencepiece==0.2.0
protobuf==6.33.4
